!!!
%html
  %head
    %title 代购帮 - 澳洲代购大本营
    = stylesheet_link_tag 'application', media: :all
    = stylesheet_link_tag 'jquery.bxslider.css', media: :all
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.bxslider.min'
    = csrf_meta_tag
    = favicon_link_tag 'favicon.ico'
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{'name' => "viewport", content: "width=device-width, initial-scale=1"}
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role:'navigation'}
      .container
        .navbar-header
          %a.navbar-brand{href:"/"} 代购帮
          %button.navbar-toggle{type:"button","data-toggle"=>"collapse", "data-target"=>"#navbar-main"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          
        %div.collapse.navbar-collapse{id:'navbar-main'}
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to "我们的商品", products_url   
            %li
              %a{href:"#"}联系我们
            - if user_signed_in?
              %li 
                =link_to  "我的账户", user_root_path
              %li
                =link_to  "退出登录", destroy_user_session_url
            - else
              %li
                =link_to  "登录", new_user_session_url
              %li
                =link_to  "加入我们", new_user_registration_url
            %li 
              %a{href:"/carts/show"} 
                %i.fa.fa-shopping-cart
                %span.badge 0

    %section{id:"services"}

      .container
        %h2 加入代购帮,轻松做代购
        - if user_signed_in?
          %a.btn.btn-xl{href:"/my"} 进入我的店铺
        - else
          %a.btn.btn-xl{href:"/users/sign_up"} 加人我们
        / %ul.bxslider
        /   %li.service
        /     %h3
        /       %i.fa.fa-shopping-cart.fa-stack-1x 帮您买
        /     %br
        /     %br
        /     %p.text-muted 受够了超市抢货的白眼? 不想再到拥挤的药店，不想再排长长的队伍? 没问题，我们有充足的货源满足你的家人或朋友对澳洲高质量产品的需求。
        /   %li.service
        /     %h3
        /       %i.fa.fa-truck.fa-stack-1x 帮您寄
        /     %br
        /     %br
        /     %p.text-muted 找不到靠谱的快递? 不想花半个上午就为了寄一点东西? 没问题，我们有靠谱的合作伙伴，打包，送货，我们能帮你搞定一切。
          
        /   %li.service
        /     %h3
        /       %i.fa.fa-thumbs-up.fa-stack-1x 帮您推广
        /     %br
        /     %br
        /     %p.text-muted 找不到靠谱的快递? 不想花半个上午就为了寄一点东西? 没问题，我们有靠谱的合作伙伴，打包，送货，我们能帮你搞定一切。
          
        /   %li.service
        /     %h3
        /       %i.fa.fa-sitemap.fa-stack-1x 专属网站
        /     %br
        /     %br
        /     %p.text-muted 只需注册成卖家，您将立刻拥有您的专属网站。您的小伙伴可以通过电脑，手机和平板访问您的网站，您无需花一分钱和一分钟维护你的网站。

  .section{id:'products'}
    .container
      %ul.nav.nav-tabs
        -Category.top.first(1).each do |c|
          %li{:role => "presentation", :class =>"active #{Category.top.first.category_class}" }
            -if c.has_child?
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                #{c.name}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                -c.sub_categories.each do |sc|
                  %li{:role => "presentation"}
                    %a{:href => "#"} #{sc.name}
            -else
              %a{:href => "#"} #{c.name}
        -Category.top[1..-1].each do |c|
          %li{:role => "presentation", :class =>"#{Category.top.first.category_class}" }
            -if c.has_child?
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                #{c.name}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                -c.sub_categories.each do |sc|
                  %li{:role => "presentation"}
                    %a{:href => "#"} #{sc.name}
            -else
              %a{:href => "#"} #{c.name}
  .container
    %hr
    %footer
      .row
        .col-lg-12.text-muted
          %p Copyright &copy; daigoubang 2014

:javascript
    $(document).ready(function(){ 
      $('.bxslider').bxSlider({
        minSlides: 2,
        maxSlides: 2,
        slideWidth: 360,
        slideMargin: 10,
        auto: true,
        speed: 1500
      }); 
    });