.container
  .panel.panel-success
    / Default panel contents
    .panel-heading 购物车
    
    %table.table.table-striped.text-center
      %th.text-center 产品名
      %th.text-center  毛重量
      %th.text-center  单价
      %th.text-center  数量
      %th.text-center  删除
      - @cart.cart_items.each do |item|
        %tr
          %td.col-md-7= link_to item.product.name, product_path(item.product_id) 
          %td.col-md-1= "#{item.product.weight} 克"
          %td.col-md-1= "#{item.product.dollar_price} 澳元"
          %td.col-md-2
            .input-group
              %span.input-group-btn
                %button.btn.btn-default.minus{:type => "button"} -
              %input.form-control.text-center.data-container{type:"number", min:0, value:item.quantity, 
                'data-product' => "{\"product_id\": #{item.product_id}, \"quantity\":#{item.quantity}, \"price\":#{item.product.dollar_price} } "  } 
              %span.input-group-btn
                %button.btn.btn-default.plus{:type => "button"} +
          %td.col-md-1
            %i.fa.fa-times
      %tr
        %td.text-right{colspan:4} 总价
        %td
          %span{id:"total"}= @cart.total_price 
          %span 澳元
    .panel-footer
      .row
        .col-md-6.text-left
          .btn.btn-info.back < 继续购物
        .col-md-6.text-right
          .btn.btn-success 去结算 >

:javascript
  new CART(#{@cart.id})