.row
  .col-md-4
    .row.carousel-holder
      .col-md-12
        %div.carousel.slide{id:"carousel-example-generic", "data-ride" => "carousel"}
          %ol.carousel-indicators
            - @product.pictures.each_with_index do |p, index|
              -if index==0
                %li.active{"data-target"=>"#carousel-example-generic", "data-slide-to"=>"#{index}"}
              -else
                %li{"data-target"=>"#carousel-example-generic", "data-slide-to"=>"#{index}"}

            / %li.active{"data-target"=>"#carousel-example-generic", "data-slide-to"=>"0"}
            / %li{"data-target"=>"#carousel-example-generic", "data-slide-to"=>"1"}
            / %li{"data-target"=>"#carousel-example-generic", "data-slide-to"=>"2"}
          .carousel-inner
            - @product.pictures.each_with_index do |p, index|
              -if index==0
                .item.active
                  %img.slide-image{src:"#{p.image.url}"}
              -else
                .item
                  %img.slide-image{src:"#{p.image.url}"}
            / .item.active
            /   %img.slide-image{src:'http://placehold.it/400x600'}
            / .item
            /   %img.slide-image{src:'http://placehold.it/400x600'}
            / .item
            /   %img.slide-image{src:'http://placehold.it/400x600'}
          %a.left.carousel-control{href:"#carousel-example-generic", "data-slide"=>"prev"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{href:"#carousel-example-generic", "data-slide"=>"next"}
            %span.glyphicon.glyphicon-chevron-right
  .col-md-8
    %h2= @product.name
    %hr
    %h4 人民币:#{@product.rmb_price}
    %p 重量: #{@product.weight}g
    %hr
    %h4 产品描述
    %p= @product.desc.html_safe
    %hr
    .row
      .col-md-offset-5.col-md-4
        .input-group
          %span.input-group-btn
            %button.btn.btn-default.minus{:type => "button"} -
          %input.form-control.text-center{id: 'count', type:"number", min:0, value:1} 
          %span.input-group-btn
            %button.btn.btn-default.plus{:type => "button"} +
      .col-md-3
        .btn.btn-success.add 加入购物车
    .row
      .col-md-offset-5.col-md-7
        .alert.alert-info.text-center.info{style: 'display:none'} 购物车更新成功

:javascript
  new PRODUCT(#{@product.id})